nav {
	display: flex;
	justify-content: flex-end;
}

.nav--sign-out {
	display: inline-block;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 10px;
	cursor: pointer;
	padding-bottom: 5px;
	transition: all .3s ease-out;
}

.nav--sign-out:hover {
	color: #7e57c2;
	border-bottom: 1px solid #7e57c2;
}

.nav--sign-out:active {
	color: #643da9
}