.face--box {
	margin-top: 20px;
}

.face--main {
	position: absolute;
}

.face--image {
	width: 100%;
	max-width: 500px;
	height: auto;
	overflow-x: none;
}

.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #8F3BAD inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}
